#{extends 'header.html' /}
#{set title:'Paysplit - Splitting expenses made easy' /}
#{set headerText:'Dashboard' /}

#{if session.username == "tour"}
  <div class="tutorial-info">
    Welcome to the Paysplit tour! Feel free to look around to get a
    feel for the site. Creating expenses and payments and changing
    account settings are disabled on the tour. Don't miss the #{a @Tutorial.start()}tutorial#{/a}!
  </div>
#{/if}
<div class="dashboard-content">
  <div class="dashboard-balanced-owed-by">
    #{if positiveBalance > 0}
      <a class="balance-display dashboard-unbalanced" href="@{Balances.showBalances()}">
        $${positiveBalance.format("0.00")} owed by you
      </a>
    #{/if}
    #{else}
      <a class="balance-display dashboard-balanced" href="@{Balances.showBalances()}">
        No money owed by you
      </a>
    #{/else}
  </div>
  <div class="dashboard-balanced-owed-to">
    #{if negativeBalance > 0}
      <a class="balance-display dashboard-unbalanced" href="@{Balances.showBalances()}">
        <span>$${negativeBalance.format("0.00")} owed to you</span>
      </a>
    #{/if}
    #{else}
      <a class="balance-display dashboard-balanced" href="@{Balances.showBalances()}">
        <span>No money owed to you</span>
      </a>
    #{/else}
  </div>

  <div class="clear"></div>

  <div class="dashboard-recent-transactions">
    <div class="dashboard-table-label">Recent Transactions</div>
    <table class="displaytable">
      <thead>
        <tr>
          <td style="width: 18%">Type</td>
          <td style="width: 25%">From</td>
          <td style="width: 25%">To</td>
          <td style="width: 14%">Amount</td>
          <td class="recent-transaction-date" style="width: 18%">Date</td>
        </tr>
      </thead>
      #{if transactions.isEmpty()}
        <tr>
          <td colspan="5">No Recent Transactions</td>
        </tr>
      #{/if}
      #{else}
        #{list items:transactions, as:'transaction'}
          <tr>
            <td><a href=${transaction.url}>${transaction.type}</a></td>
            <td><a href=@{Users.showUser(transaction.fromUser.id)}>${transaction.fromUser.username}</a></td>
            <td><a href=@{Users.showUser(transaction.toUser?.id)}>${transaction.toUser?.username}</a></td>
            <td>$${transaction.amount.format("0.00")}</td>
            <td class="recent-transaction-date">${transaction.addDate.format("MM/dd/yyyy")}</td>
          </tr>
        #{/list}
      #{/else}
    </table>
  </div>
  <div class="dashboard-footer">
    <div>
      New to Paysplit? Check out the <a href="@{Application.help()}">FAQ</a> or take the <a href="@{Tutorial.start()}">tutorial</a>
    </div>
    <div>
      If you have any questions, e-mail them to paysplithelp@gmail.com
    </div>
  </div>
</div>