#{extends 'mobile-header-footer.html' /}
#{set title:'Dashboard' /}

<div class="content">
  <div class="dashboard-balanced-owed-by">
    #{if positiveBalance > 0}
      <a class="balance-display dashboard-unbalanced" href="@{Balances.mShowBalances()}">
        <div class="amount">$${positiveBalance.format("0.00")}</div>
        <div class="text">owed by you</div>
      </a>
    #{/if}
    #{else}
      <a class="balance-display dashboard-balanced" href="@{Balances.mShowBalances()}">
        <div class="amount">$0</div>
        <div class="text">owed by you</div>
      </a>
    #{/else}
  </div>
  <div class="dashboard-balanced-owed-to">
    #{if negativeBalance > 0}
      <a class="balance-display dashboard-unbalanced" href="@{Balances.mShowBalances()}">
        <div class="amount">$${negativeBalance.format("0.00")}</div>
        <div class="text">owed to you</div>
      </a>
    #{/if}
    #{else}
      <a class="balance-display dashboard-balanced" href="@{Balances.mShowBalances()}">
        <div class="amount">$0</div>
        <div class="text">owed to you</div>
      </a>
    #{/else}
  </div>

  <div class="clear"></div>

  <h3 class="centered">Recent Transactions</h3>

  <div class="dashboard-recent-transactions">
    <table>
      <thead>
        <tr>
          <td style="width: 18%">Type</td>
          <td style="width: 23%">From</td>
          <td style="width: 23%">To</td>
          <td style="width: 18%">Amount</td>
          <td style="width: 18%">Date</td>
        </tr>
      </thead>
      #{if transactions.isEmpty()}
        <tr>
          <td colspan="5">No Recent Transactions</td>
        </tr>
      #{/if}
      #{else}
        #{list items:transactions, as:'transaction'}
          <tr>
            <td class="type">${transaction.type}</td>
            <td class="user">${transaction.fromUser.username}</td>
            <td class="user">${transaction.toUser?.username}</td>
            <td class="amount">$${transaction.amount.format("0.00")}</td>
            <td class="date">${transaction.addDate.format("MM/dd/yyyy")}</td>
          </tr>
        #{/list}
      #{/else}
    </table>
  </div>
</div>