$dark-color		: #222;
$light-color	: #ddd;
$paysplit-green	: #008000;
$tutorial-color	: #ffa;

@import "compass/reset";

body {
	background-color: #ddd;
	color: #666;
	font-size: 13px;
	font-family: sans-serif;
	line-height: 1.231;
}

.content {
	margin: 10px auto;
	width: 94%;
}

.clear {
	clear: both;
}

.error {
	color: #C00000;
 	font-weight: bold;
}

.success {
	color: #668014;
	font-weight: bold;
}

ul.indented {
	padding: 0 0 0 40px;
}

@mixin _centered {
	margin-left: auto;
	margin-right: auto;
}

@mixin _secondary-header {
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 15px;
}

.secondary-header {
	@include _secondary-header;
}