/** Create Expense **/

$expense-form-width	: 300px;
$pay-text-width: 60px;

.submit-expense-content {
	@extend .content;
	margin-left: auto;
	margin-right: auto;
}

.submit-expense-form-container {
	@include _form-container($expense-form-width);
	@include _centered;
}

.submit-expense-form-input {
	@include _form-input($expense-form-width);
}

.submit-expense-submit {
	@include _form-submit($expense-form-width);
}

.submit-expense-enter-expense {
	float: left;
	width: 50%;

	@media only screen and (max-width: 768px) {
		float: none;
		margin-bottom: 15px;
		width: 100%;
	}
}

.submit-expense-enter-dues {
	float: right;
	width: 50%;

	@media only screen and (max-width: 768px) {
		float: none;
		margin-bottom: 15px;
		width: 100%;
	}	
}

.submit-expense-submit {
	margin: 0 auto;
	text-align: center;
}

.submit-expense-step {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 15px;
}

.expense-dues-buttons {
	@include _centered;
	margin-top: 15px;
	text-align: center;
}

.expense-due {
	margin-top: 5px;
}

.submit-expense-add-due {
	background-color: $button-green;
}

.submit-expense-remove-due {
	background-color: $button-red;
}

.submit-expense-split-due {
	background-color: $button-blue;
}

.submit-expense-user-input, .submit-expense-amount-input {
	width: ($expense-form-width - $pay-text-width)/2 - 10px;
	@media only screen and (max-width: 480px) {
		width: ($expense-form-width - $pay-text-width)/2 - 12px;
	}
}

.submit-expense-pay-text {
	display: inline-block;
	text-align: center;
	width: $pay-text-width;
	@media only screen and (max-width: 480px) {
		width: $pay-text-width - 10px;
	}
}

/** Show Expense **/

.show-expense-content {
	@extend .content;
	min-width: 300px;
	width: 50%;
}

.expense-dues-header {
	font-size: 14px;
	font-weight: bold;
	margin-top: 15px;
	margin-bottom: 15px;
	text-align: center;
}

.delete-expense-container {
	margin-top: 30px;
}