$form-width: 300px;

.disabled {
  background-color: #eee;
}

@mixin _form-container($width) {
	width: $width;
	margin-bottom: 25px;
}

.form-container {
	@include _form-container($form-width);
}

@mixin _form-input($width) {
	width: $width - 6px;
}

.form-input {
	@include _form-input($form-width);
}

@mixin _form-submit($width) {
	background-color: $button-green;
	width: $width;
}

.form-submit {
	@include _form-submit($form-width);
}

@mixin _form-section($width) {
	margin-top: $width / 100;
	margin-bottom: $width / 30;
}

.form-section {
	@include _form-section($form-width);
}

.form-section-label {
	color: $paysplit-green;
	font-size: 16px;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 10px;
}

.form-label-text {
	font-weight: bold;
}