.paysplit-header {
	color: $paysplit-green;
	font-size: 128px;
	font-weight: bold;
	margin-top: 85px;
	text-align: center;
}

.paysplit-tagline {
	font-size: 40px;
	font-weight: bold;
	margin-top: 15px;
	text-align: center;
}

.home-form {
	margin: 50px auto 0;
}

.home-form-errors {
	text-align: center;
}

.home-footer {
	color: $paysplit-green;
	font-size: 16px;
	font-weight: bold;
	margin-top: 80px;
	text-align: center;
}