.transactions-content {
	@extend .content;
	max-width: 900px;
}

.search-form-container {
	margin: 5px;
}

.search-form-container .ui-widget {
	font-size: 11px;
}

.search-form-section {
	font-weight: bold;
	margin-left: 5px;
	margin-right: 5px;
}

.search-form-submit-button {
	@extend .button;
	background-color: $button-green;
}