.tutorial-info {
	@include _centered;
	background-color: $tutorial-color;
	border-bottom: 5px solid $dark-color;
	padding: 10px 20%;
}

.tutorial-highlight {
	background-color: green;

	@media only screen and (max-width: 768px) {
		background-color: #ff3;
	}
}

.tutorial-intro {
	margin: 0 auto;
	min-width: 300px;
	width: 60%;

	@media only screen and (max-width: 768px) {
		width: 80%;
	}
}


.tutorial-header {
	background-color: #ff7;

	@media only screen and (max-width: 768 px) {
		font-size: 36px;
	}
}