$green  : #008000;
$light  : #dddddd;
$dark   : #333333;

body {
    background-color: $light;
    font-family: Avenir, Helvetica, Arial, sans-serif;
}

div.ui-input-text {
    input.ui-input-text {
        background-color: white;
    }
}

.header {
    background-color: $green;
    color: $light;
    font-size: 1.5em;
    padding: .4em;
    text-align: center;

    .home {
        height: 1.5em;
        padding: .4em;
    }
}

.content {
    padding: 0.5em;
}

.footer {
    background-color: $dark;
    text-align: center;
    padding: 1em 0;

    .ui-btn {
        border: 1px solid $light;
        border-radius: 0.8em;
        color: $light;
        margin: 0 0.5em;
        text-decoration: none;
    }
}

.button {
    background-color: $green;
    border-radius: 10em;
    opacity: 0.5;
}

.clear {
    clear: both;
}

.error {
    color: red;
}

.form-section {
    margin: 1em auto;

    &.submit-section {
        margin: 2.5em auto;
    }
}

.home-form-errors {
    text-align: center;
}

.centered {
    text-align: center;
    margin: 0 auto;
}

table {
    border-collapse: collapse;
    font-size: 0.6em;
    margin: 1em auto 0;

    thead {
        font-weight: bold;
    }

    td {
        border-bottom: 1px solid $dark;

        &.type, &.amount {
            color: $green;
        }

        &.none {
            font-style: italic;
            text-align: center;
        }
    }
}

.dashboard-balanced-owed-by {
    float: left;
    position: relative;
    text-align: center;
    width: 50%;
}

.dashboard-balanced-owed-to {
    float: right;
    margin-bottom: 1.8em;
    position: relative;
    text-align: center;
    width: 50%;
}


.balance-display {
    border-radius: 0.8em;
    color: #eee;
    display: block;
    height: 5em;
    margin: 0.4em auto 0;
    text-decoration: none;
    width: 90%;

    &.dashboard-unbalanced {
        background-color: #8B0000
    }

    &.dashboard-balanced {
        background-color: #86B542
    }

    .amount {
        font-size: 1.8em;
        padding-top: 0.35em;
    }

    .text {
        bottom: 0.8em;
        position: absolute;
        font-size: 0.7em;
        width: 90%;
    }
}

.balances-table {
    margin-bottom: 3em;
    font-size: 0.8em;
    width: 80%;
}
