/* line 5, ../sass/mobile.scss */
body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
}

/* line 10, ../sass/mobile.scss */
div.ui-input-text input.ui-input-text {
  background-color: white;
}

/* line 15, ../sass/mobile.scss */
.header {
  background-color: green;
  color: #dddddd;
  font-size: 1.5em;
  padding: .4em;
  text-align: center;
}

/* line 23, ../sass/mobile.scss */
.content {
  background-color: #dddddd;
}

/* line 27, ../sass/mobile.scss */
.button {
  background-color: green;
  border-radius: 10em;
  opacity: 0.5;
}

/* line 33, ../sass/mobile.scss */
.error {
  color: red;
}

/* line 37, ../sass/mobile.scss */
.form-section {
  margin: 2em auto;
}
