/* line 5, ../sass/mobile.scss */
body {
  background-color: #dddddd;
  font-family: Avenir, Helvetica, Arial, sans-serif;
}

/* line 11, ../sass/mobile.scss */
div.ui-input-text input.ui-input-text {
  background-color: white;
}

/* line 16, ../sass/mobile.scss */
.header {
  background-color: green;
  color: #dddddd;
  font-size: 1.5em;
  padding: .4em;
  text-align: center;
}

/* line 27, ../sass/mobile.scss */
.button {
  background-color: green;
  border-radius: 10em;
  opacity: 0.5;
}

/* line 33, ../sass/mobile.scss */
.error {
  color: red;
}

/* line 37, ../sass/mobile.scss */
.form-section {
  margin: 1em auto;
}
/* line 40, ../sass/mobile.scss */
.form-section.submit-section {
  margin: 2.5em auto;
}

/* line 45, ../sass/mobile.scss */
.home-form-errors {
  text-align: center;
}
