/* line 17, ../../../../../.rvm/gems/ruby-1.9.3-p125@rails3tutorial2ndEd/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../.rvm/gems/ruby-1.9.3-p125@rails3tutorial2ndEd/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../.rvm/gems/ruby-1.9.3-p125@rails3tutorial2ndEd/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../.rvm/gems/ruby-1.9.3-p125@rails3tutorial2ndEd/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../.rvm/gems/ruby-1.9.3-p125@rails3tutorial2ndEd/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../.rvm/gems/ruby-1.9.3-p125@rails3tutorial2ndEd/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../.rvm/gems/ruby-1.9.3-p125@rails3tutorial2ndEd/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../.rvm/gems/ruby-1.9.3-p125@rails3tutorial2ndEd/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../.rvm/gems/ruby-1.9.3-p125@rails3tutorial2ndEd/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 8, ../sass/_base.scss */
body {
  background-color: #ddd;
  color: #666;
  font-size: 13px;
  font-family: sans-serif;
  line-height: 1.231;
}

/* line 16, ../sass/_base.scss */
.content, .dashboard-content, .account-content, .submit-expense-content, .create-payment-content, .transactions-content, .faq-content, .show-expense-content {
  margin: 10px auto;
  width: 94%;
}

/* line 21, ../sass/_base.scss */
.clear {
  clear: both;
}

/* line 25, ../sass/_base.scss */
.error {
  color: #C00000;
  font-weight: bold;
}

/* line 30, ../sass/_base.scss */
.success {
  color: #668014;
  font-weight: bold;
}

/* line 35, ../sass/_base.scss */
ul.indented {
  padding: 0 0 0 40px;
}

/* line 51, ../sass/_base.scss */
.secondary-header {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 15px;
}

/* line 8, ../sass/_buttons.scss */
.button, .form-submit-button, .submit-expense-submit-button, .search-form-submit-button, .tutorial-start-button {
  padding: 5px 10px;
  display: inline;
  background: #777777 url(/public/images/button.png) repeat-x bottom;
  border: none;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  text-shadow: 1px 1px #666;
}
/* line 21, ../sass/_buttons.scss */
.button:hover, .form-submit-button:hover, .submit-expense-submit-button:hover, .search-form-submit-button:hover, .tutorial-start-button:hover {
  background-position: 0 center;
}
/* line 25, ../sass/_buttons.scss */
.button:active, .form-submit-button:active, .submit-expense-submit-button:active, .search-form-submit-button:active, .tutorial-start-button:active {
  background-position: 0 top;
  padding: 6px 10px 4px;
  position: relative;
  top: 1px;
}

/* line 33, ../sass/_buttons.scss */
a.button, a.form-submit-button, a.submit-expense-submit-button, a.search-form-submit-button, a.tutorial-start-button {
  display: block;
  padding: 0;
  text-align: center;
  text-decoration: none;
}
/* line 39, ../sass/_buttons.scss */
a.button:hover, a.form-submit-button:hover, a.submit-expense-submit-button:hover, a.search-form-submit-button:hover, a.tutorial-start-button:hover, a.button:visited, a.form-submit-button:visited, a.submit-expense-submit-button:visited, a.search-form-submit-button:visited, a.tutorial-start-button:visited {
  color: #fff;
}

/* line 44, ../sass/_buttons.scss */
.button.white, .white.form-submit-button, .white.submit-expense-submit-button, .white.search-form-submit-button, .white.tutorial-start-button {
  background-color: #fff;
  color: #000;
  text-shadow: 1px 1px #fff;
}

/* line 45, ../sass/_buttons.scss */
.button.small, .small.form-submit-button, .small.submit-expense-submit-button, .small.search-form-submit-button, .small.tutorial-start-button {
  font-size: 75%;
  padding: 3px 7px;
}

/* line 46, ../sass/_buttons.scss */
.button.small:active, .small.form-submit-button:active, .small.submit-expense-submit-button:active, .small.search-form-submit-button:active, .small.tutorial-start-button:active {
  padding: 4px 7px 2px;
  background-position: 0 top;
}

/* line 47, ../sass/_buttons.scss */
.button.large, .large.form-submit-button, .large.submit-expense-submit-button, .large.search-form-submit-button, .large.tutorial-start-button {
  font-size: 125%;
  padding: 7px 12px;
}

/* line 48, ../sass/_buttons.scss */
.button.large:active, .large.form-submit-button:active, .large.submit-expense-submit-button:active, .large.search-form-submit-button:active, .large.tutorial-start-button:active {
  padding: 8px 12px 6px;
  background-position: 0 top;
}

/* line 50, ../sass/_buttons.scss */
a.button.small, a.small.form-submit-button, a.small.submit-expense-submit-button, a.small.search-form-submit-button, a.small.tutorial-start-button, a.button.small:active, a.small.form-submit-button:active, a.small.submit-expense-submit-button:active, a.small.search-form-submit-button:active, a.small.tutorial-start-button:active, a.button.large, a.large.form-submit-button, a.large.submit-expense-submit-button, a.large.search-form-submit-button, a.large.tutorial-start-button, a.button.large:active, a.large.form-submit-button:active, a.large.submit-expense-submit-button:active, a.large.search-form-submit-button:active, a.large.tutorial-start-button:active, a.button:active, a.form-submit-button:active, a.submit-expense-submit-button:active, a.search-form-submit-button:active, a.tutorial-start-button:active {
  padding-left: 0;
  padding-right: 0;
}

/* line 3, ../sass/_forms.scss */
.disabled {
  background-color: #eee;
}

/* line 22, ../sass/_forms.scss */
.form-container {
  width: 300px;
  margin-bottom: 25px;
}

/* line 26, ../sass/_forms.scss */
.form-section {
  margin-top: 3px;
  margin-bottom: 10px;
}

/* line 31, ../sass/_forms.scss */
.form-section-label {
  color: green;
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 39, ../sass/_forms.scss */
.form-label-text {
  font-weight: bold;
}

/* line 43, ../sass/_forms.scss */
.form-input {
  width: 294px;
}

/* line 47, ../sass/_forms.scss */
.form-submit-button {
  background-color: #58aa00;
  width: 300px;
}

/* line 1, ../sass/_nav.scss */
.top-bar {
  background-color: #222222;
  color: #dddddd;
  height: 29px;
}
/* line 6, ../sass/_nav.scss */
.top-bar li {
  float: left;
  line-height: 19px;
  margin-top: 3px;
}
/* line 12, ../sass/_nav.scss */
.top-bar a {
  border: solid 1px #eee;
  color: #dddddd;
  display: block;
  margin: 0 2px;
  padding: 1px 2px;
  text-decoration: none;
}
/* line 20, ../sass/_nav.scss */
.top-bar a:hover {
  background-color: #dddddd;
  color: #222222;
}
/* line 26, ../sass/_nav.scss */
.top-bar a.signup-link {
  color: #ff7;
}
/* line 29, ../sass/_nav.scss */
.top-bar a.signup-link:hover {
  background-color: #ff7;
  color: #222222;
}
/* line 35, ../sass/_nav.scss */
.top-bar span {
  display: inline-block;
  padding: 2px;
}
@media only screen and (max-width: 768px) {
  /* line 40, ../sass/_nav.scss */
  .top-bar .nav {
    display: none;
  }
}

/* line 47, ../sass/_nav.scss */
.header-bar {
  background-color: #ccc;
  border-bottom: 5px solid #222222;
  display: none;
  font-weight: bold;
  height: 27px;
  margin: 0px;
  text-align: center;
}
/* line 56, ../sass/_nav.scss */
.header-bar a {
  color: #666;
  display: inline-block;
  margin: 0 2px;
  padding: 1px 2px;
  text-decoration: none;
}
/* line 63, ../sass/_nav.scss */
.header-bar a:hover {
  color: #222222;
}
/* line 68, ../sass/_nav.scss */
.header-bar li {
  display: inline;
  line-height: 25px;
}
@media only screen and (max-width: 768px) {
  /* line 47, ../sass/_nav.scss */
  .header-bar {
    display: block;
  }
}

/* line 78, ../sass/_nav.scss */
.top-bar-right {
  float: right;
  font-size: 12px;
  list-style-type: none;
}

/* line 84, ../sass/_nav.scss */
header {
  background: #ccc;
  border-bottom: solid 5px #222222;
  overflow: hidden;
  padding: 10px 0;
  text-align: center;
}

/* line 92, ../sass/_nav.scss */
header span {
  color: green;
  font-size: 48px;
  font-weight: bold;
}

/* line 3, ../sass/_tables.scss */
.datatable {
  text-align: left;
  width: 100%;
}
/* line 7, ../sass/_tables.scss */
.datatable a {
  text-decoration: none;
}

/* line 12, ../sass/_tables.scss */
.displaytable {
  border-spacing: 0px;
  text-align: left;
  width: 100%;
}
/* line 2, ../../../../../.rvm/gems/ruby-1.9.3-p125@rails3tutorial2ndEd/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/tables/_scaffolding.scss */
.displaytable th {
  text-align: center;
  font-weight: bold;
}
/* line 6, ../../../../../.rvm/gems/ruby-1.9.3-p125@rails3tutorial2ndEd/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/tables/_scaffolding.scss */
.displaytable td,
.displaytable th {
  padding: 2px;
}
/* line 8, ../../../../../.rvm/gems/ruby-1.9.3-p125@rails3tutorial2ndEd/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/tables/_scaffolding.scss */
.displaytable td.numeric,
.displaytable th.numeric {
  text-align: right;
}
/* line 19, ../sass/_tables.scss */
.displaytable thead td {
  background-color: #555;
  color: #ddd;
}
/* line 24, ../sass/_tables.scss */
.displaytable tr:nth-child(even) {
  background-color: #fff;
}
/* line 28, ../sass/_tables.scss */
.displaytable tr:nth-child(odd) {
  background-color: #9f9;
}
/* line 32, ../sass/_tables.scss */
.displaytable a {
  text-decoration: none;
}

/* line 1, ../sass/_home.scss */
.paysplit-header {
  color: green;
  font-size: 128px;
  font-weight: bold;
  margin-top: 85px;
  text-align: center;
}

/* line 9, ../sass/_home.scss */
.paysplit-tagline {
  font-size: 40px;
  font-weight: bold;
  margin-top: 15px;
  text-align: center;
}

/* line 16, ../sass/_home.scss */
.home-form {
  margin: 50px auto 0;
}

/* line 20, ../sass/_home.scss */
.home-footer {
  color: green;
  font-size: 16px;
  font-weight: bold;
  margin-top: 80px;
  text-align: center;
}

/* line 1, ../sass/_dashboard.scss */
.dashboard-content {
  min-width: 720px;
  width: 60%;
}
@media only screen and (max-width: 768px) {
  /* line 1, ../sass/_dashboard.scss */
  .dashboard-content {
    min-width: 320px;
    width: 80%;
  }
}

/* line 12, ../sass/_dashboard.scss */
.dashboard-balanced-owed-by {
  float: left;
  text-align: center;
  width: 50%;
}
@media only screen and (max-width: 768px) {
  /* line 12, ../sass/_dashboard.scss */
  .dashboard-balanced-owed-by {
    float: none;
    margin-bottom: 15px;
    width: 100%;
  }
}

/* line 24, ../sass/_dashboard.scss */
.dashboard-balanced-owed-to {
  float: right;
  text-align: center;
  width: 50%;
}
@media only screen and (max-width: 768px) {
  /* line 24, ../sass/_dashboard.scss */
  .dashboard-balanced-owed-to {
    float: none;
    width: 100%;
  }
}

/* line 35, ../sass/_dashboard.scss */
.dashboard-unbalanced {
  background-color: #8B0000;
}

/* line 39, ../sass/_dashboard.scss */
.dashboard-balanced {
  background-color: #86B542;
}

/* line 43, ../sass/_dashboard.scss */
.balance-display {
  color: #eee;
  display: block;
  font-size: 18px;
  line-height: 100px;
  height: 100px;
  margin: 0 auto;
  text-decoration: none;
  width: 80%;
}
/* line 54, ../sass/_dashboard.scss */
.balance-display:hover {
  color: #ccc;
}

/* line 59, ../sass/_dashboard.scss */
.dashboard-recent-transactions {
  margin-top: 40px;
}

/* line 63, ../sass/_dashboard.scss */
.dashboard-table-label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* line 69, ../sass/_dashboard.scss */
.dashboard-footer {
  margin-top: 80px;
  text-align: center;
}

/* line 1, ../sass/_account.scss */
.account-content {
  width: 300px;
}

/* line 4, ../sass/_create-expense.scss */
.submit-expense-content {
  margin-left: auto;
  margin-right: auto;
}

/* line 10, ../sass/_create-expense.scss */
.submit-expense-form-container {
  width: 300px;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
}

/* line 15, ../sass/_create-expense.scss */
.submit-expense-form-input {
  width: 294px;
}

/* line 19, ../sass/_create-expense.scss */
.submit-expense-submit-button {
  background-color: #58aa00;
  width: 300px;
}

/* line 23, ../sass/_create-expense.scss */
.submit-expense-enter-expense {
  float: left;
  width: 50%;
}
@media only screen and (max-width: 768px) {
  /* line 23, ../sass/_create-expense.scss */
  .submit-expense-enter-expense {
    float: none;
    margin-bottom: 15px;
    width: 100%;
  }
}

/* line 34, ../sass/_create-expense.scss */
.submit-expense-enter-dues {
  float: right;
  width: 50%;
}
@media only screen and (max-width: 768px) {
  /* line 34, ../sass/_create-expense.scss */
  .submit-expense-enter-dues {
    float: none;
    margin-bottom: 15px;
    width: 100%;
  }
}

/* line 45, ../sass/_create-expense.scss */
.submit-expense-submit {
  margin: 0 auto;
  text-align: center;
}

/* line 50, ../sass/_create-expense.scss */
.submit-expense-step {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 15px;
}

/* line 56, ../sass/_create-expense.scss */
.expense-dues-buttons {
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  text-align: center;
}

/* line 62, ../sass/_create-expense.scss */
.submit-expense-add-due {
  background-color: #58aa00;
}

/* line 66, ../sass/_create-expense.scss */
.submit-expense-remove-due {
  background-color: maroon;
}

/* line 70, ../sass/_create-expense.scss */
.submit-expense-split-due {
  background-color: #2c6da0;
}

/* line 74, ../sass/_create-expense.scss */
.submit-expense-user-input, .submit-expense-amount-input {
  width: 114px;
}

/* line 78, ../sass/_create-expense.scss */
.submit-expense-pay-text {
  display: inline-block;
  text-align: center;
  width: 60px;
}

/* line 1, ../sass/_create-payment.scss */
.create-payment-content {
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

/* line 7, ../sass/_create-payment.scss */
.true-payment-from-user-container {
  float: left;
}

/* line 11, ../sass/_create-payment.scss */
.false-payment-from-user-container {
  float: right;
}

/* line 1, ../sass/_show-balances.scss */
.balances-owed-from {
  float: left;
  width: 50%;
}
@media only screen and (max-width: 768px) {
  /* line 1, ../sass/_show-balances.scss */
  .balances-owed-from {
    float: none;
    width: 100%;
  }
}

/* line 11, ../sass/_show-balances.scss */
.balances-owed-to {
  float: right;
  width: 50%;
}
@media only screen and (max-width: 768px) {
  /* line 11, ../sass/_show-balances.scss */
  .balances-owed-to {
    float: none;
    width: 100%;
  }
}

/* line 1, ../sass/_transactions.scss */
.transactions-content {
  max-width: 900px;
}

/* line 6, ../sass/_transactions.scss */
.search-form-container {
  margin: 5px;
}

/* line 10, ../sass/_transactions.scss */
.search-form-container .ui-widget {
  font-size: 11px;
}

/* line 14, ../sass/_transactions.scss */
.search-form-section {
  font-weight: bold;
  margin-left: 5px;
  margin-right: 5px;
}

/* line 20, ../sass/_transactions.scss */
.search-form-submit-button {
  background-color: #58aa00;
}

/* line 1, ../sass/_faq.scss */
.faq-content {
  max-width: 800px;
}
/* line 5, ../sass/_faq.scss */
.faq-content h1 {
  color: green;
  font-size: 20px;
  font-weight: bold;
  margin-top: 13px;
  margin-bottom: 13px;
}
/* line 13, ../sass/_faq.scss */
.faq-content ul {
  list-style: disc;
  margin-top: 13px;
  margin-bottom: 13px;
}
/* line 19, ../sass/_faq.scss */
.faq-content b {
  font-weight: bold;
}

/* line 24, ../sass/_faq.scss */
.tutorial-start-button {
  background-color: #ff9c00;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 200px;
}

/* line 1, ../sass/_show-expense.scss */
.show-expense-content {
  min-width: 300px;
  width: 50%;
}

/* line 7, ../sass/_show-expense.scss */
.expense-dues-header {
  font-size: 14px;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
}

/* line 1, ../sass/_show-user.scss */
.user-info {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  width: 300px;
}

/* line 1, ../sass/_statistics.scss */
.statistics-header {
  color: green;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

/* line 9, ../sass/_statistics.scss */
.statistics-table-container {
  margin-left: auto;
  margin-right: auto;
  min-width: 300px;
  width: 70%;
}

/* line 15, ../sass/_statistics.scss */
.statistics-table-header {
  font-weight: bold;
}
