#{extends 'mobile-header-footer.html' /}
#{set title:'Balances' /}

<div class="content">
  <div class="balances-header">Balances Owed From You</div>
  <table id="positive-balances-table" class="balances-table">
    <thead>
      <tr>
        <td style="width: 50%;">User</td>
        <td style="width: 50%;">Balance Owed</td>
      </tr>
    </thead>
    <tbody>
      #{list items:positiveBalances, as:'balance'}
      <tr>
        <td>${balance.toUser.username}</td>
        <td class="amount">$${balance.balance.format("0.00")}</td>
      </tr>
      #{/list}
      #{else}
      <tr>
        <td class="none" colspan="2">None</td>
      </tr>
      #{/else}
    </tbody>
  </table>
  <div class="balances-header">Balances Owed To You</div>
  <table id="negative-balances-table" class="balances-table">
    <thead>
      <tr>
        <td style="width: 50%;">User</td>
        <td style="width: 50%;">Balance Owed</td>
      </tr>
    </thead>
    <tbody>
      #{list items:negativeBalances, as:'balance'}
      <tr>
        <td>${balance.toUser.username}</td>
        <td class="amount">$${balance.balance.format("0.00")}</td>
      </tr>
      #{/list}
      #{else}
      <tr>
        <td class="none" colspan="2">None</td>
      </tr>
      #{/else}
    </tbody>
  </table>
</div>