#{extends 'header.html' /} 
#{set title:'Paysplit - Splitting expenses made easy' /}
#{set headerText:'Display Balances' /}
#{set 'moreStyles'}
  <link rel="stylesheet" media="screen" href="@{'/public/datatables/media/css/demo_table.css'}">
  <link rel="stylesheet" media="screen" href="@{'/public/datatables/media/css/demo_page.css'}">
  <link rel="stylesheet" media="screen" href="@{'/public/datatables/media/css/demo_table_jui.css'}">
#{/set}
#{set 'moreScripts'}
  <script src="@{'/public/datatables/media/js/jquery.dataTables.js'}" type="text/javascript" charset="${_response_encoding}"></script>
#{/set}

<div class="content">
  <div class="balances-owed-from">
    <div class="content">
      <h3>Balances Owed From You</h3>
      <table id="positive-balances-table" class="datatable">
        <thead>
          <tr>
            <td>User</td>
            <td>Balance Owed</td>
          </tr>
        </thead>
        <tbody>
          #{list items:positiveBalances, as:'balance'}
          <tr>
            <td><a href=@{Users.showUser(balance.toUser.id)}>${balance.toUser.username}</a></td>
            <td>$${balance.balance.format("0.00")}</td>
          </tr>
          #{/list}
        </tbody>
      </table>
    </div>
  </div>
  <div class="balances-owed-to">
    <div class="content">
      <h3>Balances Owed To You</h3>
      <table id="negative-balances-table" class="datatable">
        <thead>
          <tr>
            <td>User</td>
            <td>Balance Owed</td>
          </tr>
        </thead>
        <tbody>
          #{list items:negativeBalances, as:'balance'}
          <tr>
            <td><a href=@{Users.showUser(balance.toUser.id)}>${balance.toUser.username}</a></td>
            <td>$${balance.balance.format("0.00")}</td>
          </tr>
          #{/list}
        </tbody>
      </table>
    </div>
  </div>
</div>

<script>
$(document).ready(function() {
    $('#positive-balances-table').dataTable({
        "bJQueryUI" : true,
        "bInfo" : false,
        "bFilter" : false,
        "bPaginate" : false,
        "aaSorting" : [[1,'desc']],
        "aoColumns": [
                      { "sWidth": "50%" },
                      { "sWidth": "50%" }
        ],
        "oLanguage" : {
            "sEmptyTable" : "No outstanding balances"
        }
    });
    $('#negative-balances-table').dataTable({
        "bJQueryUI" : true,
        "bInfo" : false,
        "bFilter" : false,
        "bPaginate" : false,
        "aaSorting" : [[1,'desc']],
        "aoColumns": [
                      { "sWidth": "50%" },
                      { "sWidth": "50%" }
        ],
        "oLanguage" : {
            "sEmptyTable" : "No outstanding balances"
        }
    });

    $(window).bind('resize', function() {
        $('#positive-balances-table').width("100%");
        $('#negative-balances-table').width("100%");
    });
});
</script>