#{extends 'main.html' /}
#{set title:'Paysplit - Splitting expenses made easy' /}

<div id="top-bar">
  <ul id="top-bar-right">
    <li><span>${session.username}</span></li>
    <li><a>Account Settings</a></li>
    <li><a href="@{Application.index()}">Log Out</a></li>
  </ul>
  <ul class="nav">
    <li><a href="@{Dashboard.dashboard()}">Home (Exit Tutorial)</a></li>
    <li><a>Submit Expense</a></li>
    <li><a>Submit Payment</a></li>
    <li><a>Balances</a></li>
    <li><a>Transactions</a></li>
    <li><a>FAQ</a></li>
  </ul>
</div>

<div id="wrapper">
  <header class="tutorial-header">
    <span>Tutorial: Submit Payment (Step 4)</span>
  </header> 
  <div id="header-bar">
    <ul class="nav">
      <li><a href="@{Dashboard.dashboard()}">Home (Exit Tutorial)</a></li>
      <li><a>Submit Expense</a></li>
      <li><a>Submit Payment</a></li>
      <li><a>Balances</a></li>
      <li><a>Transactions</a></li>
      <li><a>FAQ</a></li>
    </ul>
  </div>
 
  <div class="tutorial-info">
    <p>
      You've reached the payment submission page. From the balances
      tables, we saw that we owed <b>frank</b> $10.50. Once we pay 
      him back, we come here to submit that payment to him. 
    </p>
    <ol>
      <li>
        Enter $10.50 as the payment amount
      </li>
      <li>
        Enter "frank" as the username this payment is going to
      </li>
      <li>
        Enter a description to help you remember this payment if you want
      </li>
    </ol>
    <p>
      Click "Submit Payment" once you're done to complete the tutorial.
      We're not going to check if you actually submitted the right
      payment to <b>frank</b>...we trust you. Once you click
      "Submit Payment", you'll be taken back to the dashboard. Feel
      free to do the tutorial as many times as you need!
    </p>
  </div>
  <div class="content">
<div class="content">
  <input type="hidden" name="userId" value="${session.userId}">
  <div id="create-payment" class="centered">
    <div class="center">
      <h2>Enter Payment</h2>
    </div>
    <div class="form">
      <div style="float: left;">
        <input id="true-payment-from-user" type="radio" name="paymentFromUser" value="true" checked>
        <label for="true-payment-from-user">Payment is from you</label>
      </div>
      <div style="float: right;">
        <input id="false-payment-from-user" type="radio" name="paymentFromUser" value="false">
        <label for="false-payment-from-user">Payment is to you</label>
      </div>
      <div class="clear"></div>
    </div>
    <div class="form">
      <div><span id="username-header"></span></div>
      <div class="error">#{error 'username' /}</div>
      <input type="text" class="wide" name="username" id="username">
    </div>
    <div class="form">
      <div>Amount ($): </div>
      <div class="error">#{error 'amount' /}</div>
      <input type="text" class="wide" name="amount">
    </div>
    <div class="form">
      <div>Description: </div>
      <input type="text" class="wide" name="description">
    </div>
    <div class="form-section centered">
      #{a @Dashboard.dashboard(), class:'button wide'}Submit Payment#{/a}
    </div>
  </div>
</div>

<script>
$(function() {
  $('input[name=amount]').change(function() {
      var value = Number($(this).val()).toFixed(2);
      if (isNaN(value)) {
          $(this).val('');
      } else {
          $(this).val(value);
      }
  });

  $('input[name=paymentFromUser]').change(function() {
    var value = $(this).val();
    if (value == 'true') {
        $('#username-header').text('Who you paid (username):');
    } else {
        $('#username-header').text('Who paid you (username):');
    }
  });
  $('input[name=paymentFromUser]:first').change();
});
</script>