#{extends 'main.html' /}
#{set title:'Paysplit - Splitting expenses made easy' /}
#{set 'moreStyles'}
 <link rel="stylesheet" media="screen" href="@{'/public/datatables/media/css/demo_table.css'}">
 <link rel="stylesheet" media="screen" href="@{'/public/datatables/media/css/demo_page.css'}">
 <link rel="stylesheet" media="screen" href="@{'/public/datatables/media/css/demo_table_jui.css'}">
#{/set}
#{set 'moreScripts'}
 <script src="@{'/public/datatables/media/js/jquery.dataTables.js'}" type="text/javascript" charset="${_response_encoding}"></script>
#{/set}

<div id="top-bar">
  <ul id="top-bar-right">
    <li><span>${session.username}</span></li>
    <li><a>Account Settings</a></li>
    <li><a href="@{Application.index()}">Log Out</a></li>
  </ul>
  <ul class="nav">
    <li><a href="@{Dashboard.dashboard()}">Home (Exit Tutorial)</a></li>
    <li><a>Submit Expense</a></li>
    <li><a href="@{Tutorial.createPayment()}" class="tutorial-highlight">Submit Payment</a></li>
    <li><a>Balances</a></li>
    <li><a>Transactions</a></li>
    <li><a>FAQ</a></li>
  </ul>
</div>

<div id="wrapper">
  <header class="tutorial-header">
    <span>Tutorial: Display Balances (Step 3)</span>
  </header>
  <div id="header-bar">
    <ul class="nav">
      <li><a href="@{Dashboard.dashboard()}">Home (Exit Tutorial)</a></li>
      <li><a>Submit Expense</a></li>
      <li><a href="@{Tutorial.createPayment()}" class="tutorial-highlight">Submit Payment</a></li>
      <li><a>Balances</a></li>
      <li><a>Transactions</a></li>
      <li><a>FAQ</a></li>
    </ul>
  </div>

  <div class="tutorial-info">
    <p>
      This is the balances page. This is the page you want to go to
      if you need to check where you stand with other users. If you
      created dues earlier in the tutorial, you should see that the
      users from the expense you made should appear in the table of
      people that owe you money.
    </p>
    <p>
      We stuck in a user <b>frank</b> that you owe $10.50 to. Let's 
      pretend that you already paid <b>frank</b> the $10.50 that you
      owe him. This is a payment that you need to submit. Click the
      "Submit Payment" link from the top bar to continue.
    </p>
  </div>

  <div class="content">
    <div class="left-half center">
      <div class="content">
        <h3>Balances Owed From You</h3>
        <table id="positive-balances-table" class="datatable">
          <thead>
            <tr>
              <td>User</td>
              <td>Balance Owed</td>
            </tr>
          </thead>
          <tbody>
            #{list items:positiveBalances, as:'balance'}
            <tr>
              <td><a href=@{Users.showUser(balance.toUser.id)}>${balance.toUser.username}</a></td>
              <td>$${balance.balance.format("0.00")}</td>
            </tr>
            #{/list}
          </tbody>
        </table>
      </div>
    </div>
    <div class="right-half center">
      <div class="content">
        <h3>Balances Owed To You</h3>
        <table id="negative-balances-table" class="datatable">
          <thead>
            <tr>
              <td>User</td>
              <td>Balance Owed</td>
            </tr>
          </thead>
          <tbody>
            #{list items:negativeBalances, as:'balance'}
            <tr>
              <td><a href=@{Users.showUser(balance.toUser.id)}>${balance.toUser.username}</a></td>
              <td>$${balance.balance.format("0.00")}</td>
            </tr>
            #{/list}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script>
$(document).ready(function() {
	$('#positive-balances-table').dataTable({
		"bJQueryUI" : true,
		"bInfo" : false,
		"bFilter" : false,
		"bPaginate" : false,
		"aaSorting" : [[1,'desc']],
		"aoColumns": [
		              { "sWidth": "50%" },
		              { "sWidth": "50%" }
        ],
		"oLanguage" : {
			"sEmptyTable" : "No outstanding balances"
		}
	});
	$('#negative-balances-table').dataTable({
		"bJQueryUI" : true,
		"bInfo" : false,
		"bFilter" : false,
		"bPaginate" : false,
		"aaSorting" : [[1,'desc']],
		"aoColumns": [
		              { "sWidth": "50%" },
		              { "sWidth": "50%" }
        ],
		"oLanguage" : {
			"sEmptyTable" : "No outstanding balances"
		}
	});

  $(window).bind('resize', function() {
        $('#positive-balances-table').width("100%");
        $('#negative-balances-table').width("100%");
    });
});
</script>