#{extends 'header.html' /}
#{set title:'Paysplit - Splitting expenses made easy' /}
#{set headerText: 'Tutorial' /}
  
<div class="content">
  <div class="secondary-header">
    Welcome to the Paysplit tutorial!
  </div>
  <div class="tutorial-intro">
    <p>
      We'll walk you through the different things you can do with
      Paysplit. None of the transactions made during this tutorial
      are real, so don't be afraid of submitting transactions since
      they are temporary. If you want to exit the tutorial, click
      the "Home" link on the top left to return to your dashboard 
      or the "Log Out" link.
    </p>
    <p>
      Click "Submit Expense" on the top left corner to continue with
      the tutorial.
    </p>
  </div>
</div>