#{extends 'header.html' /}
#{set title:'Paysplit - Splitting expenses made easy' /}
#{set headerText:'Display Expenses' /}
#{set 'moreStyles'}
  <link rel="stylesheet" media="screen" href="@{'/public/datatables/media/css/demo_table.css'}">
  <link rel="stylesheet" media="screen" href="@{'/public/datatables/media/css/demo_page.css'}">
  <link rel="stylesheet" media="screen" href="@{'/public/datatables/media/css/demo_table_jui.css'}">
#{/set}
#{set 'moreScripts'}
  <script src="@{'/public/datatables/media/js/jquery.dataTables.js'}" type="text/javascript" charset="${_response_encoding}"></script>
#{/set}

<div id="content" class="center">
  <h3>Expenses Paid By ${user.username}</h3>
  <div class="table-container">
    <table id="expense-table" class="datatable">
      <thead>
        <tr>
          <td>Expense ID</td>
          <td>Description</td>
          <td>Amount</td>
          <td>Date</td>
        </tr>
      </thead>
      <tbody>
      #{list items:expenses, as:'expense'}
        <tr>
          <td><a href="@{Expenses.showExpense(expense.id)}">${expense.id}</a></td>
          <td>${expense.description}</td>
          <td>$${expense.amount.format("0.00")}</td>
          <td>${expense.addDate.format("MM/dd/yyyy hh:mm a")}</td>
        </tr>
       #{/list}
       </tbody>
    </table>
  </div>
</div>

<script>
$(document).ready(function() {
	$('#expense-table').dataTable({
		"bJQueryUI" : true,
		"bInfo" : false,
		"bFilter" : false,
		"bPaginate" : false,
		"aaSorting" : [[3,'desc']],
		"oLanguage" : {
			"sEmptyTable" : "No expenses"
		}
	});
});
</script>