#{extends 'main.html' /}
#{set title:'Paysplit - Splitting expenses made easy' /}

<div class="top-bar">
  <ul class="top-bar-right">
    <li>#{a @Application.index()}Main Page#{/a}</li>
  </ul>
</div>

<div class="content">
  <div class="paysplit-header">Paysplit</div>
  <div class="paysplit-tagline">Splitting expenses made easy</div>

  #{form @addUser()}
    <div class="home-form form-container">
      <div class="form-section">
        <div class="form-label-text">Username:</div>
        <div class="error">#{error 'username' /}</div>
        <input type="text" class="form-input" name="username">
      </div>
      <div class="form-section">
        <div class="form-label-text">Password:</div>
        <div class="error">#{error 'password' /}</div>
        <input type="password" class="form-input" name="password">
      </div>
      <div class="form-section">
        <div class="form-label-text">Email:</div>
        <div class="error">#{error 'emailAddress' /}</div>
        <input type="text" class="form-input" name="emailAddress">
      </div>
      <input type="submit" class="form-submit-button" value="Register">
    </div>
  #{/form}
</div>